:root {
  --dark-bg: #0c134f;
  --slightly-dark: #1d267d;
  --purple-shade: rgb(92, 70, 156, 0.5);
  --white-transucent: rgb(255, 255, 255, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* styles for the btnContainer*/
main{
  color:var(--white-transucent);
  background-color: var(--purple-shade);
  max-width:900px;
  margin:0 auto;
  padding:1.3em;
}
ol{
  list-style:none;
}
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top:1.5em;
  
  margin: 0 auto;
  gap: 0.3em;
  background-color: var(--purple-shade);
  
}
button {
  width: 12em;
  padding: 0.5em 1em;
  width:100%;
  border: none;
  border-radius: .5em;
  margin-top:.3em;
}
button:hover{
  background-color: var(--slightly-dark);
  color:var(--white-transucent);
}
/* styles for the btnContainer*/

/*styles for the heading__container-main */

.heading__container-main {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1em 0.3em;
  background-color: var(--slightly-dark);
  border: none;
  color:var(--white-transucent);
}
.nav__links {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 1em 0;
  gap: 0.5em;
  font-weight: 600;
}
.nav__links li {
  transition: color 0.3s;
}
.nav__links li:hover,
a:hover {
  cursor: pointer;
  color: magenta;
}

/*styles for the heading__container-main */

/*style for form container */
/* #form__container{

    
  
    
} */

#emp__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-transucent);
  z-index: 1;
  padding: 1.5em 1em;
  width: 80%;
  max-width: 900px;
  border: none;
  border-radius: 0.5em;
  height: 500px;
  overflow-y: scroll;
}
input {
  width: 100%;
  border: none;
  border-radius: 0.4em;
  padding: 0.4em 0;
}
label {
  display: block;
}

/* .general__info,.address__container,.work__experience,.qualification,.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
} */

/*style for form container */

.hidden {
  display: none;
}
.container {
  width: 100%;
  max-width: 900px;
}

/* css styles for employee table*/

#emp__container {
  position: absolute;
  background-color: var(--white-transucent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  max-height: 500px;
  width: 1;
  text-align: center;
  max-width: fit-content;
  font-size: .8rem;
  
}
td {
  min-width: 12rem;
  border-collapse: collapse;
  border: 1px solid gray;
}
td {
  text-align: center;
}
#closeBtn {
  border: none;
  background-color: var(--slightly-dark);
  color: var(--white-transucent);
  width: 100%;
  border-radius: 5em;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#closeBtn::before{
  content: "";
  left: 0%;
  top: 0%;
  background-color: var(--purple-shade);
  border-radius: 5em;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
}
#closeBtn:hover::before {
  background-color: b;
  border-radius: 5em;
  transform: translateX(100%);
  z-index: -1;
}


#delete__employees{
  position: absolute;
  background-color: var(--white-transucent);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:50%;
  text-align:center;
 
}
#delete__user{
  border: none;
  background-color: var(--slightly-dark);
  color: var(--white-transucent);
  width: 100%;
  border-radius: 5em;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#delete__user::before{
  content: "";
  left: 0%;
  top: 0%;
  background-color: var(--purple-shade);
  border-radius: 5em;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
}
#delete__user:hover::before {
  background-color: b;
  border-radius: 5em;
  transform: translateX(100%);
  z-index: -1;
}
#delete__user{
  width:100%;
}

/* css styles for employee table*/
@media (max-width:991px){
  button{
    width: 80%;
    align-self:center;
    justify-self:start;
  }
  .btnContainer{
    flex-direction: column;
    justify-content:flex-start;
  }
  #emp__container{
    width:70%;
    font-size:.7rem;
  
  }
  #closeBtn{
    width: 100%;
  }
}

@media (max-width:768px){
  button{
    width: 80%;
    align-self:center;
    justify-self:start;
  }
  .btnContainer{
    flex-direction: column;
  }
  #emp__container{
    width:80%;
  }
}
